@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-michroma: "Michroma", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --solar-flare: #e8670d;
  --amber-glow: #f5923a;
  --stellar-white: #f0f0f0;
  --deep-space: #08080f;
  --cosmic-charcoal: #1c1c2e;
  --plasma-cyan: #00c2e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-michroma);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--stellar-white);
  color: var(--deep-space);
}

a {
  text-decoration: none;
}

.hero_header {
  width: 100%;
  min-height: 80px;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--deep-space);
  border-bottom: 2px solid var(--solar-flare);
}
.hero_logo {
  width: 60px;
  height: auto;
  display: block;
}
.hero_nav-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;

  a {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: rgba(240, 237, 232, 0.78);
    transition: 250ms ease-in-out;
  }
}

.hero_nav-menu a:hover {
  color: var(--amber-glow);
  font-weight: 500;
}
.hero {
  min-height: 100vh;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.936), rgba(0, 0, 0, 0.573)),
    url(/images/slideshow01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 50%;
  background-attachment: fixed;
}
.hero_content {
  min-height: 80vh;
  width: 50vw;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  display: flex;
  gap: 2rem;
  padding: 0 5rem;
  color: var(--stellar-white);

  h1 {
    font-size: 5vmin;
    font-weight: 100;
    letter-spacing: 0.05em;
    /* text-wrap: balance; */
  }
  strong {
    font-weight: 700;
    color: var(--solar-flare);
  }
  p {
    font-size: 2vmin;
    font-weight: 100;
    letter-spacing: 0.05em;
    padding: 0.3rem 0;
  }
  .hero_button {
    color: var(--stellar-white);
    background-color: transparent;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 2vmin;
    font-weight: 300;
    transition:
      background-color 250ms ease-in-out,
      border-color 250ms ease-in-out,
      transform 250ms ease-in-out;
  }

  .hero_button:hover {
    background-color: var(--solar-flare);
    border-color: var(--solar-flare);
    transform: translateY(-2px);
  }
}
